button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--foreground);
    color: var(--background);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}